.contenedor{
	background-color: white;
	border:1px solid;
	border-color: black;
	display: flex;
	justify-content: flex-start;
	/*justify-content: flex-end;*/
	/*justify-content: center;*/
	justify-content: space-between;
	/* justify-content: space-around; */
	/* justify-content: space-evenly; */
}

.item{
	background-color: blue;
	width: 100px;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
    margin:1px; 
}